[submodule "gene/themes/freelancer"]
	path = gene/themes/freelancer
	url = https://github.com/joseph-mccarthy/hugo-bootstrap-freelancer-template
[submodule "gene/themes/hugo-theme-learn"]
	path = gene/themes/hugo-theme-learn
	url = https://github.com/matcornic/hugo-theme-learn.git
[submodule "themes/hugo-winston-theme"]
	path = themes/hugo-winston-theme
	url = https://github.com/zerostaticthemes/hugo-winston-theme.git
